# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Poetry
build/
*.egg-info/
poetry.lock

# PyInstaller
*.manifest
*.spec
build/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/ 